<div class="container mb-5">
  <div class="col pb-4 pt-4">
    <h1 class="text-center">{{titulo}} </h1>
  </div>
  <form action="" class="d-flex gap-3 flex-wrap">
    <label class="form-label">
      <input 
      type="text" 
      class="form-control" 
      name="Nombre" 
      placeholder="Nombre"
      [(ngModel)] = "datoNombre">
    </label>

    <label class="form-label">
      <input 
      type="text" 
      class="form-control" 
      name="Apellido" 
      placeholder="Apellido"
      [(ngModel)] = "datoApellido">
    </label>

    <label class="form-label">
      <input 
      type="text" 
      class="form-control" 
      name="Cargo" 
      placeholder="Cargo"
      [(ngModel)] = "datoCargo">
    </label>

    <label class="form-label">
      <input 
      type="text" 
      class="form-control" 
      name="Salario" 
      placeholder="Salario"
      [(ngModel)] = "datoSalario">
    </label>

    <div class="col">
      <input type="submit" class="btn btn-primary" (click)="agregarEmpleado()" value="Agregar">
    </div>

  </form>
</div>

<div class="container mb-5 p-3">
  <div class="row">
    <div class="col">
      <div *ngFor="let empleado of empleados; let i=index">
        {{i+1}} | {{empleado.nombre}}  {{empleado.apellido}} | {{empleado.cargo}} | {{empleado.salario}}
      </div>
    </div>
  </div>
</div>

<div class="col"></div>